<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/">
        <i class="material-icons">home</i>
        <span>Home</span> </a>
      <a mat-list-item routerLink="/pais"><span>Países</span></a>
      <a mat-list-item routerLink="/cidades"> <span>Cidades</span> </a>
      <a mat-list-item routerLink="/estados"><span>Estados</span></a>
      <a mat-list-item routerLink="/unidades"><span>Unidades</span></a>
      <a mat-list-item routerLink="/cargos"><span>Cargos</span></a>
      <a mat-list-item routerLink="/funcoes"><span>Funções</span></a>
      <a mat-list-item routerLink="/designacoes"><span>Designações</span></a>
      <a mat-list-item routerLink="/servidores"><span>Servidores</span></a>
      <a mat-list-item routerLink="/terceirizados"><span>Terceirizados</span></a>
      <a mat-list-item routerLink="/afastamentos"><span>Afastamentos</span></a>
      <a mat-list-item routerLink="/indisponibilidades"><span>Indisponibilidades</span></a>
      <a mat-list-item routerLink="/generos"><span>Gêneros</span></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
