<mat-card>
  <mat-card-header><mat-card-title>Atualizar Estado</mat-card-title></mat-card-header>

  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field appearance="outline" style="width: 100%;" class="label-nome">
        <mat-label >Nome</mat-label>
        <input matInput name="nome" type="text" placeholder="Nome do estado" formControlName="nome">
        <mat-error *ngIf="form.get('nome')?.hasError('required')">
          Campo obrigatório
        </mat-error>
        <mat-error *ngIf="form.get('nome')?.hasError('minlength')">
          Nome do estado deve conter ao menos 3 letras
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>País</mat-label>
        <mat-select name="pais" formControlName="pais" [compareWith]="compareCountry">
          <mat-option *ngFor="let pais of paises" [value]="{id: pais.id}">
            {{pais.sigla}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="campo">
        <mat-label>Sigla</mat-label>
        <input matInput name="sigla" placeholder="Sigla do estado" type="text" formControlName="sigla">
        <mat-error *ngIf="form.get('sigla')?.hasError('minlength') || form.get('sigla')?.hasError('maxlength')">Sigla deve conter 2 caracteres</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="campo">
        <mat-label>Região</mat-label>
        <input matInput name="regiao" placeholder="Região do estado" type="text" formControlName="regiao">
        <mat-error *ngIf="form.get('regiao')?.hasError('minlength')">Região deve conter ao menos 3 letras</mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button (click)="save()" color="primary">Atualizar</button>

    <button mat-raised-button (click)="cancel()">Cancelar</button>
  </mat-card-actions>
</mat-card>


